
.detail{
    display: flex;
    justify-content: center;
    align-items: center;
}

.info h4{
    color: red;
}

.card {
    width: 53%;
    /* position: relative; */
    background-color: #1c1b29;
    border-radius: 20px ;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.18);
    margin: 20px;
}

.info ul{
    list-style:none;
    color: #ffffff;
}

.info li{
    color: black;
}

.container{
    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}

img{
    width: 100%;
    display: block;
    border-radius: 20px 20px 0 0;
}

.info{
    padding: 20px 10px;
}

h3, h6{
    color: #ffffff;
    font-weight: 600;
    font-size: 18px;
    margin: 10px 0 15px 0;
}

.info>p{
    color: #a0a0a0;
    font-size: 15px;
    line-height: 30px;
    font-weight: 400;
}

#btnSearch:hover{
    border: solid 1px #198754;
    box-shadow: 0 8px 16px;
    transition: 2s;
}

.btn_back{
    margin-bottom: 15px;
    position: relative;
    text-decoration: none;
    font-size: 15px;
    border: 1px solid #833ab4;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-color: #1c1b29;
    color: #1c1b29;
    outline: none;
    padding: .25em .5em;
    
    overflow: hidden;
    transition: color 1s;
}
.btn_back:hover{
    border: solid 1px;
    background-color: #1c1b29;
    color: #833ab4;
}

  