*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #e0a8a8;
  height: 100vh;
  text-align: center;
  /* display: grid;
  place-items: center ;*/
  font-family: 'Poppins', sans-serif; 
}


