*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: url('C:\Users\Gabriel Navas\Desktop\Henry\PI-VideoGames\PI-Videogames-main\client\src\polygon-scatter-haikei.svg');
  height: 100vh;
  text-align: center;
  /* display: grid;
  place-items: center ;*/
  font-family: 'Poppins', sans-serif; 
}


