.cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 30px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    margin-top: 20px;
    
    
}
.order p{
    width: 300px;
    color: #ffff;
}


.navBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

.links:focus, .links:visited, .links:link, .links:active, .links:focus, .links:hover {
    text-decoration: none;
    
}
