.card {
    display: flex;
    flex-direction: column;
    background-color: #1c1b29;
    border-radius: 20px ;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.18);
}

.container{
    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}

img{
    width: 100%;
    display: block;
    border-radius: 20px 20px 0 0;
}

.info{
    padding: 20px 10px;
}

.info>h3, .info>h4{
    color: #ffffff;
    font-weight: 600;
    font-size: 18;
    margin: 10px 0 15px 0;
}

.info>p{
    color: #a0a0a0;
    font-size: 15px;
    line-height: 30px;
    font-weight: 400;
}
  